@* siteInfo Template File *@
<!-- PAGE TITLE -->
<header id="page-title">
	<div class="container">
		<h1>測站資訊</strong></h1>

		<ul class="breadcrumb">
			<li><a href="/">首頁</a></li>
			<li class="active">測站資訊</li>
		</ul>
	</div>
</header>


<section class="container">

	<!-- Who Am I -->
	<article class="row">
		<div class="col-md-6">
			<h3>台灣空氣污染指標</h3>
			<p>台灣空氣污染指標（Pollutant Standards Index，PSI），是空氣污染情況的一項指標，目標乃藉由監控空氣品質並加以通報改善。指數根據5種空氣污染物（二氧化氮、二氧化硫、臭氧、一氧化碳、懸浮微粒）的濃度轉化指標，並按照指數高低而劃分為良好、普通、不良、非常不良和有害五種級別。
，本系統各監測站其測站資訊如下:</p>
			
			<hr />

			<ul class="list-icon star-o">
				<li>二林	彰化縣二林鎮萬合裡江山巷1號	萬合國小</li>
				<li>竹山	南投縣竹山鎮大明路666號	雲林國小</li>
				<li>線西	彰化縣線西鄉寓埔村中央路二段145號	線西國中</li>
				<li>斗六	雲林縣斗六市民生路224號	斗六高中</li>
				<li>崙背	雲林縣崙背鄉南陽村大成路91號	崙背國中</li>
				<li>朴子	嘉義縣朴子市光復路34號	朴子市公所</li>
				<li>嘉義	嘉義市西區新民路580號	興嘉國小</li>
				<li>台西	雲林縣台西鄉五港路505號	台西鄉圖書館</li>
				<li>麥寮	雲林縣麥寮鄉中興路115號	麥寮消防分隊</li>
			</ul>

		</div>
	</article>
	<!-- CALLOUT -->
	<section class="container">
		<div class="bs-callout text-center nomargin-bottom">
			<h3>連結:<a href="http://taqm.epa.gov.tw//" class="btn btn-primary btn-lg">環保署空氣品質監測網</a></h3>
		</div>

	</section>
	<!-- /CALLOUT -->

</section>