@* siteInfo Template File *@
<!-- PAGE TITLE -->
<header id="page-title">
	<div class="container">
		<h1>測站資訊</strong></h1>

		<ul class="breadcrumb">
			<li><a href="/">首頁</a></li>
			<li class="active">測站資訊</li>
		</ul>
	</div>
</header>


<section class="container">

	<!-- Who Am I -->
	<article class="row">
			<h3>台灣空氣污染指標</h3>
			<p>台灣空氣污染指標（Pollutant Standards Index，PSI），是空氣污染情況的一項指標，目標乃藉由監控空氣品質並加以通報改善。指數根據5種空氣污染物（二氧化氮、二氧化硫、臭氧、一氧化碳、懸浮微粒）的濃度轉化指標，並按照指數高低而劃分為良好、普通、不良、非常不良和有害五種級別。
，本系統各監測站其測站資訊如下:</p>
			
			<hr />

<table id="siteInfo" class="table" border="1">
<thead><tr>
<th>地區</th>
<th>監測站</th>
<th>測站類別</th>
<th>位置</th>
<th>備考</th>
</tr></thead>
<tbody>
<tr>
<td rowspan="25">北部</td>
<td>基隆</td>
<td rowspan="19">一般</td>
<td>基隆市信義區東信路324號</td>
<td>基隆女中</td>
</tr>
<tr>
<td>汐止</td>
<td>汐止區樟樹二路141巷2號</td>
<td>樟樹國小</td>
</tr>
<tr>
<td>萬里</td>
<td>萬里區瑪鍊路221號</td>
<td>萬里綜合商場</td>
</tr>
<tr>
<td>新店</td>
<td>新店區民族路108號</td>
<td>大豐國小</td>
</tr>
<tr>
<td>土城</td>
<td>土城區學府路一段241號</td>
<td>新北高工</td>
</tr>
<tr>
<td>板橋</td>
<td>新北市板橋區文化路一段25號</td>
<td>板橋高中</td>
</tr>
<tr>
<td>新莊</td>
<td>新北市新莊區中正路510號</td>
<td>輔仁大學</td>
</tr>
<tr>
<td>菜寮</td>
<td>新北市三重區中正北路163號</td>
<td>三重商工</td>
</tr>
<tr>
<td>林口</td>
<td>新北市林口區民治路25號</td>
<td>林口國中</td>
</tr>
<tr>
<td>淡水</td>
<td>新北市淡水區中正東路42巷6號</td>
<td>淡水氣象站</td>
</tr>
<tr>
<td>士林</td>
<td>台北市北投區文林北路155號</td>
<td>文林國小</td>
</tr>
<tr>
<td>中山</td>
<td>台北市中山區林森北路511號</td>
<td>新興國中</td>
</tr>
<tr>
<td>萬華</td>
<td>台北市萬華區中華路一段66號</td>
<td>福星國小</td>
</tr>
<tr>
<td>古亭</td>
<td>台北市大安區羅斯福路三段201號</td>
<td>古亭國小</td>
</tr>
<tr>
<td>松山</td>
<td>台北市松山區八德路四段746號</td>
<td>松山國小</td>
</tr>
<tr>
<td>桃園</td>
<td>桃園市桃園區成功路二段144號</td>
<td>桃園農工</td>
</tr>
<tr>
<td>大園</td>
<td>桃園市大園區中正東路160號</td>
<td>大園國小</td>
</tr>
<tr>
<td>平鎮</td>
<td>桃園市平鎮區文化街189號</td>
<td>文化國小</td>
</tr>
<tr>
<td>龍潭</td>
<td>桃園市龍潭區中正路210號</td>
<td>龍潭區公所</td>
</tr>
<tr>
<td>三重</td>
<td rowspan="4">交通</td>
<td>新北市三重區重陽路和三和路口</td>
<td>三重交流道</td>
</tr>
<tr>
<td>中壢</td>
<td>桃園市中壢區延平路622號</td>
<td>中壢國小</td>
</tr>
<tr>
<td>永和</td>
<td>新北市永和區永和路和光復街口</td>
<td>中正橋頭</td>
</tr>
<tr>
<td>大同</td>
<td>臺北市大同區重慶北路三段2號</td>
<td>大橋國小</td>
</tr>
<tr>
<td>觀音</td>
<td rowspan="1">工業</td>
<td>桃園市觀音區文化路2號</td>
<td>觀音國小</td>
</tr>
<tr>
<td>陽明</td>
<td rowspan="1">國家公園</td>
<td>台北市北投區竹子湖路111號</td>
<td>陽明山鞍部氣象站</td>
</tr>
<tr>
<td rowspan="6">新竹苗栗</td>
<td>湖口</td>
<td rowspan="5">一般</td>
<td>新竹縣湖口鄉成功路360號</td>
<td>信勢國小</td>
</tr>
<tr>
<td>竹東</td>
<td>新竹縣竹東鎮三民街70號</td>
<td>大同國小</td>
</tr>
<tr>
<td>新竹</td>
<td>新竹市東區民族路33號</td>
<td>東門國小</td>
</tr>
<tr>
<td>苗栗</td>
<td>苗栗縣苗栗市縣府路102號</td>
<td>苗栗縣議會</td>
</tr>
<tr>
<td>三義</td>
<td>苗栗縣三義鄉尖豐公路</td>
<td>社區活動中心</td>
</tr>
<tr>
<td>頭份</td>
<td rowspan="1">工業</td>
<td>苗栗縣頭份鎮後莊裡11鄰130號</td>
<td>後莊國小</td>
</tr>
<tr>
<td rowspan="11">中部</td>
<td>豐原</td>
<td rowspan="9">一般</td>
<td>台中市豐原區水源路150號</td>
<td>豐原高中</td>
</tr>
<tr>
<td>沙鹿</td>
<td>台中市沙鹿區英才路150號</td>
<td>北勢國中</td>
</tr>
<tr>
<td>大里</td>
<td>台中市大里區大新街36號</td>
<td>大里區公所</td>
</tr>
<tr>
<td>忠明</td>
<td>台中市南屯區公益路二段296號</td>
<td>臺中特殊教育學校</td>
</tr>
<tr>
<td>西屯</td>
<td>台中市西屯區安和路1號</td>
<td>啟智學校</td>
</tr>
<tr>
<td>彰化</td>
<td>彰化縣彰化市文心街55號</td>
<td>延平社區活動中心</td>
</tr>
<tr>
<td>二林</td>
<td>彰化縣二林鎮萬合裡江山巷1號</td>
<td>萬合國小</td>
</tr>
<tr>
<td>南投</td>
<td>南投縣南投市南陽路269號</td>
<td>康壽國小</td>
</tr>
<tr>
<td>竹山</td>
<td>南投縣竹山鎮大明路666號</td>
<td>雲林國小</td>
</tr>
<tr>
<td>埔里</td>
<td rowspan="1">其他</td>
<td>南投縣埔里鎮西安路一段193號</td>
<td>埔里國中</td>
</tr>
<tr>
<td>線西</td>
<td rowspan="1">工業</td>
<td>彰化縣線西鄉寓埔村中央路二段145號</td>
<td>線西國中</td>
</tr>
<tr>
<td rowspan="11">雲嘉南</td>
<td>斗六</td>
<td rowspan="9">一般</td>
<td>雲林縣斗六市民生路224號</td>
<td>斗六高中</td>
</tr>
<tr>
<td>崙背</td>
<td>雲林縣崙背鄉南陽村大成路91號</td>
<td>崙背國中</td>
</tr>
<tr>
<td>新港</td>
<td>嘉義縣新港鄉登雲路105號</td>
<td>新港國小</td>
</tr>
<tr>
<td>朴子</td>
<td>嘉義縣朴子市光復路34號</td>
<td>朴子市公所</td>
</tr>
<tr>
<td>嘉義</td>
<td>嘉義市西區新民路580號</td>
<td>興嘉國小</td>
</tr>
<tr>
<td>新營</td>
<td>台南市新營區中正路4號</td>
<td>新營國小</td>
</tr>
<tr>
<td>善化</td>
<td>台南市善化區益名寮60號</td>
<td>亞洲蔬菜中心</td>
</tr>
<tr>
<td>安南</td>
<td>台南市安南區安和路三段193號</td>
<td>安順國小</td>
</tr>
<tr>
<td>台南</td>
<td>台南市中西區南寧街45號</td>
<td>中山國中</td>
</tr>
<tr>
<td>台西</td>
<td rowspan="2">工業</td>
<td>雲林縣台西鄉五港路505號</td>
<td>台西鄉圖書館</td>
</tr>
<tr>
<td>麥寮</td>
<td>雲林縣麥寮鄉中興路115號</td>
<td>麥寮消防分隊</td>
</tr>
<tr>
<td rowspan="15">高屏</td>
<td>美濃</td>
<td rowspan="11">一般</td>
<td>高雄市美濃區中壇里忠孝路19號</td>
<td>中壇國小</td>
</tr>
<tr>
<td>仁武</td>
<td>高雄市仁武區八卦村永仁街555號</td>
<td>八卦國小</td>
</tr>
<tr>
<td>大寮</td>
<td>高雄市大寮區潮寮路61號</td>
<td>潮寮國小</td>
</tr>
<tr>
<td>林園</td>
<td>高雄市林園區北汕路58巷2號</td>
<td>汕尾國小</td>
</tr>
<tr>
<td>楠梓</td>
<td>高雄市楠梓區楠梓路262號</td>
<td>楠梓國小</td>
</tr>
<tr>
<td>左營</td>
<td>高雄市左營區翠華路687號</td>
<td>大義國中</td>
</tr>
<tr>
<td>前金</td>
<td>高雄市前金區河南二路196號</td>
<td>七賢國中</td>
</tr>
<tr>
<td>小港</td>
<td>高雄市小港區平和南路185號</td>
<td>小港國中</td>
</tr>
<tr>
<td>屏東</td>
<td>屏東縣屏東市蘇州街75號</td>
<td>中正國小</td>
</tr>
<tr>
<td>潮州</td>
<td>屏東縣潮州鎮九塊裡復興路66號</td>
<td>潮東國小</td>
</tr>
<tr>
<td>恆春</td>
<td>屏東縣恆春鎮公園路44號</td>
<td>畜牧試驗所</td>
</tr>
<tr>
<td>橋頭</td>
<td rowspan="1">背景</td>
<td>高雄市橋頭區隆豐北路1號</td>
<td>橋頭鄉公所</td>
</tr>
<tr>
<td>鳳山</td>
<td rowspan="2">交通</td>
<td>高雄市鳳山區曹公路6號</td>
<td>曹公國小</td>
</tr>
<tr>
<td>復興</td>
<td>高雄市前鎮區民權二路331號</td>
<td>復興國小</td>
</tr>
<tr>
<td>前鎮</td>
<td rowspan="1">工業</td>
<td>高雄市前鎮區中山三路43號</td>
<td>獅甲國中</td>
</tr>
<tr>
<td rowspan="2">宜蘭</td>
<td>宜蘭</td>
<td rowspan="2">一般</td>
<td>宜蘭縣宜蘭市復興路二段77號</td>
<td>復興國中</td>
</tr>
<tr>
<td>冬山</td>
<td>宜蘭縣冬山鄉南興村照安路26號</td>
<td>冬山國中</td>
</tr>
<tr>
<td rowspan="3">花東</td>
<td>花蓮</td>
<td rowspan="2">一般</td>
<td>花蓮縣花蓮市中正路210號</td>
<td>中正國小</td>
</tr>
<tr>
<td>台東</td>
<td>台東縣台東市中山路276號</td>
<td>台東縣政府</td>
</tr>
<tr>
<td>關山</td>
<td rowspan="1">其它</td>
<td>台東縣關山鎮自強路66號</td>
<td>關山鎮圖書館</td>
</tr>
</tbody>
</table>

	</article>
	<!-- CALLOUT -->
	<section class="container">
		<div class="bs-callout text-center nomargin-bottom">
			<h3>連結:<a href="http://taqm.epa.gov.tw//" class="btn btn-primary btn-lg">環保署空氣品質監測網</a></h3>
		</div>

	</section>
	<!-- /CALLOUT -->

</section>